$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
    padding-top: $navbar-height;
    padding-bottom: 2em;
}

// headroom--not-top headroom--unpinned
// headroom--not-top headroom--pinned
// headroom--pinned headroom--top

.headroom {
    transition: transform 200ms ease;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}
