<div class='row'>
<div class='col-md-6'>
<h1>Colophon</h1>
<p>L'application HTML5 <b>Tsé veut dire</b> ne pourrait exister sans l'apport d'un grand nombre de logiciels libres,
soit pour le développement lui-même (via yeoman) ou encore du côté client.</p>
</div>
<div class='col-md-6 text-right'>
<h2>Logiciels libres</h2>
<p>Les logiciels libres forment un grand écosystème où il est commun de construire en collaboration directe ou indirecte avec d'autres développeurs.</p>
</div>
</div>
<div class='row'>
<div class='col-md-4'>
<h3>Côté client (bower)</h3>
<p>Librairies JavaScript utilisées dans votre fureteur, soit pour des fonctions ou encore pour l'aspect visuel.</p>
<% _.each(bower, function(i) { %>
<h4>
<% if (i.homepage) { %>
    <a href='<%- i.homepage %>'><%- i.name %></a>
<% } else { %>
    <%- i.name %>
<% } %>
    <small><%- i.version %></small>
<% if (i.license) { %>
    (<%- i.license %>)
<% } %>
<% if (i.authors && i.authors.length) { %>
    par <%- i.authors.join(', ').replace('@', ' sur ') %>
<% } %>
</h4>
<% if (i.description) { %>
<p><%- i.description %></p>
<% } %>
<% }) %>
</div>
<div class='col-md-4'>
<h3>Côté développement (npm)</h3>
<p>Pour gulp et yeoman.</p>
<% _.each(npm.slice(0, Math.round(npm.length/2)), function(i) { %>
<h4>
<% if (i.homepage) { %>
    <a href='<%- i.homepage %>'><%- i.name %></a>
<% } else { %>
    <%- i.name %>
<% } %>
    <small><%- i.version %></small>
<% if ('object' === typeof i.license) { %>
    (<a href='<%- i.license.url %>'><%- i.license.type %></a>)
<% } else if ('string' === typeof i.license) {%>
    (<%- i.license %>)
<% } %>
<% if (i.authors) { %>
    par
    <% if (i.authors.url) { %>
        <a href='<%- i.authors.url %>'><%- i.authors.name %></a>
    <% } else if (i.authors.email) { %>
        <%- i.authors.name %> &lt;<%- i.authors.email.replace('@', ' sur ') %>&gt;
    <% } else { %>
        <%- i.authors.name %>
    <% } %>
<% } %>
</h4>
<% if (i.description) { %>
<p><%- i.description %></p>
<% } %>
<% }) %>
</div>
<div class='col-md-4'>
<h3>Côté développement (suite)</h3>
<p>Si la liste des logiciels de ce côté parait longue, c'est que j'utilise yeoman et son générateur gulp-webapp
pour rapidement créer un squelette d'application HTML5 et automatiser plusieurs tâches répétitives.</p>
<% _.each(npm.slice(Math.round(npm.length/2)), function(i) { %>
<h4>
<% if (i.homepage) { %>
    <a href='<%- i.homepage %>'><%- i.name %></a>
<% } else { %>
    <%- i.name %>
<% } %>
    <small><%- i.version %></small>
<% if ('object' === typeof i.license) { %>
    (<a href='<%- i.license.url %>'><%- i.license.type %></a>)
<% } else if ('string' === typeof i.license) {%>
    (<%- i.license %>)
<% } %>
<% if (i.authors) { %>
    par
    <% if (i.authors.url) { %>
        <a href='<%- i.authors.url %>'><%- i.authors.name %></a>
    <% } else if (i.authors.email) { %>
        <%- i.authors.name %> &lt;<%- i.authors.email.replace('@', ' sur ') %>&gt;
    <% } else { %>
        <%- i.authors.name %>
    <% } %>
<% } %>
</h4>
<% if (i.description) { %>
<p><%- i.description %></p>
<% } %>
<% }) %>
</div>
</div>
