<h2>Fichiers attachés</h2>
<% if (attachments) { %>
<ul>
    <% _.forOwn(attachments, function(value, key) { %>
        <li><a href="<%- path %>/files/<%- key %>"><%- key %></a> <%- value.content_type %> <%- humanb(value.length) %></li>
    <% }) %>
</ul>
<% } else { %>
<p><i>Aucun fichier attaché.</i></p>
<% } %>
<form class="attach">
<input type='hidden' name='path' value='<%- path %>'>
<input type='hidden' name='id' value='<%- id %>'>
<input type='hidden' name='rev' value='<%- rev %>'>
<div class="form-group">
    <label for="exampleInputFile">Attacher un fichier</label>
    <input accept="image/*" type="file" id="exampleInputFile">
    <p class="help-block">Formats supportés: PNG, JPEG et GIF.</p>
</div>
</form>
<div class='show'></div>
