<p><span class="label label-primary">Nombre de documents: <span class="badge"><%- doc_count %></span></span></p>
<p><span class="label label-primary">Numéro de séquence: <span class="badge"><%- update_seq %></span></span></p>
