<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="exampleModalLabel">DB info</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger">Effacer</button>
        <button type="button" class="btn btn-primary">Choisir</button>
      </div>
    </div>
  </div>
</div>

<h1>dbs <small><%- dbname %></small></h1>
<h2>DB connues:</h2>
<ul>
<% _.each(dbs, function(db) { %>
    <li><button class='btn btn-link' data-toggle="modal" data-target="#exampleModal"><%- db %></button></li>
<% }) %>
</ul>
