<h1 class='title'><%- title %></h1>
<ul class="nav nav-tabs">
    <li role="presentation"<%- active.voir %>><a href="<%- spath?spath:'/' %>">Voir</a></li>
    <li role="presentation"<%- active.editer %>><a href="<%- spath %>/edit">Éditer</a></li>
    <li role="presentation" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Autres <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"<%- active.backlinks %>><a href="<%- spath %>/backlinks">Rétroliens</a></li>
            <li role="presentation"<%- active.exporter %>><a href="<%- spath %>/export">Exporter</a></li>
            <li role="presentation"<%- active.attacher %>><a href="<%- spath %>/attach">Attacher</a></li -->
        </ul>
    </li>
</ul>
