<form class='edit'>
    <input type="hidden" name="docid" value="<%- _id %>">
    <input type="hidden" name="rev" value="<%- _rev %>">
    <input type="hidden" name="spath" value="<%- spath %>">
    <input type="hidden" name="path" value="<%- path %>">
    <div id="epiceditor"></div><textarea id='epicarea' name="content" class="form-control" rows="40"><%- content %></textarea>
    <input type="text" placeholder="Titre" name="title" value="<%- title||'untitled' %>">
    <% if (_id && _rev) { %>
    <button type="button" class="btn btn-danger">Effacer</button>
    <% } %>
    <input type="submit" class="btn btn-primary">
</form>
