<h1 class='title'>Changements récents</h1>
<ol>
    <% _.each(rows, function(r) { %>
    <li><a href='/<%- r.value.path %>'><%- r.value.title %></a> <%- new Date(r.key).toString() %> (crée le <%- new Date(r.value.created).toString() %>)</li>
    <% }) %>
</ol>
